.message.message-fade-away{
    animation: fade-away 0.6s;
}

@keyframes fade-away{
    0% {
        opacity: 1;
        transform: translateX(0);
      }
      100% {
        opacity: 0;
        transform: translateX(20px);
      }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.no-messages-info{
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 80vh;
  color: #3c4554;
}