.message.message_fade_away{
    animation: fade-away 0.6s;
}

@keyframes fade-away{
    0% {
        opacity: 1;
        transform: translateX(0);
      }
      100% {
        opacity: 0;
        transform: translateX(20px);
      }
}

.chat_messages{
  position: relative;
  padding: 20px 30px;
  box-sizing: border-box;
  z-index: 1;
  height: 100%;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.no_messages_info{
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 80vh;
  color: #3c4554;
}

.message{
  background: #b7556e;
  max-width: 350px;
  opacity: 0.9;
  width: fit-content;
  padding: 8px;
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  color:#30101a;  
}

.message.byMe{
  background: #b93658;
  border-radius: 10px 10px 0px 10px;
  margin-left: auto;
}

.isSelected, .byMe.isSelected{
  background-color: #e47490;
}

.timestamp{
  display: flex; 
  justify-content: flex-end; 
}

.timestamp span{
  font-size: 9px;
  margin-left: 5px;
  opacity: 0.6;
}

.response{
  height: 35px;
  border-left: 2px solid #984157;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
}

.response.byMe{
  border-left: 2px solid #f19ab0;
}

.responseAuthor{
  font-size: 11px;
  color:#30101a;  
}

.responseMessage{
  font-size: 10px;
  opacity: 0.8;
}