.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.chatlist {
    height: 100vh;
    width: 100%;
    background-color: #242a33;
    box-sizing: border-box;
}

.chatlist ul {
    padding-right: 13px;
    padding-left: 6px;
}

.scroll {
    max-height: 92vh;
    margin-right: -3px;
    width: calc(100% - 1px);
}

.scroll .simplebar-scrollbar::before {
    background-color: #9e9e9e;
}

.scroll:hover {
    cursor: pointer;
}

.scroll-container .simplebar-horizontal .simplebar-scrollbar {
    display: none;
}

.profile {
    width: 100%;
    border-radius: 15px;
    height: 80px;
    box-sizing: border-box;
    padding: 9px;
    display: flex;
    cursor: pointer;
    transition: background-color 0.1s;
}

.profile:hover {
    background-color: #272e39;
}

.__focus {
    background-color: #323a47;
}

.__focus:hover {
    background-color: #323a47;
}

.avatar {
    border-radius: 40px;
    background: url(~/img/empty-avatar.png);
    background-size: contain;
    width: 55px;
    height: 55px;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.online {
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    animation: fadeIn 0.1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.preview {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #9e9e9e;
    
}

.username {
    color: #BCC0C4;
    font-size: 17px;
    font-weight: 600;
}

.last_message {
    font-size: 14px;
}

.no_chats_message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: #3c4554;
}

@media only screen and (max-width: 900px) {

    .chatlist.unconcealable {
        width: 100%;
    }

}