.contextMenu{  
    position: fixed;
    border-radius: 10px;
    padding: 7px 5px;
    z-index: 10;
    background-color: #b93658;
    transform-origin: left top;
    opacity: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    transition: opacity 0.1s, transform 0.1s;
    visibility: hidden;
}

.contextMenu.visible {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

.contextMenuItem{
    color:#fff;
    font-size: 14px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.1s;
}

.contextMenuItem:hover{
    background-color: #7d263d;
}

.offscreen {
    position: absolute;
    left: -9999px;
    display: hidden;
}