.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.login {
    width: 400px;
    height: 400px;
    margin-right: 50px;
    animation: fadeIn 1s;
}

.login p {
    color: #f5f5f5;
    font-size: 25px;
    margin-bottom: 13px;
    margin-top: 40px;
}

.login p.registration_link {
    font-size: 16px;
    float: right;
    margin: 16px 15px 0 0;
}

.login p.registration_link a {
    color: #e34c67;
}

.input_group {
    position: relative;
}

.log_input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 350px;
    margin-bottom: 10px;
}

.user_label {
    position: absolute;
    left: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

}

.log_input:focus {
    outline: none;
    border: 1.5px solid #e34c67;
    caret-color: #e34c67;
}



.log_input:focus~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #001220;
    padding: 0 .2em;
    color: #e34c67;
    opacity: 1;
}


#login_button {
    background-color: #001220;
    height: 55px;
    position: absolute;
}

.c_button {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 50px;
    width: 100px;
}

.c_button__gooey {
    color: #DA3F67;
    background-color: #001230;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #DA3F67;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
    border-radius: 1rem;
}

.c_button__gooey .c_button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
    border-radius: 10px;
}

.c_button__gooey .c_button__blobs div {
    background-color: #DA3F67;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c_button__gooey .c_button__blobs div:nth-child(1) {
    left: -5%;
}

.c_button__gooey .c_button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c_button__gooey .c_button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c_button__gooey:hover {
    color: #001220;

}

.c_button__gooey:hover .c_button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

@media only screen and (max-width: 1180px) {
    .login {
        margin-right: 0;
    }

    .login p {
        font-size: 21px;
    }

    .log_input {
        font-size: 0.9rem;
    }

    #login_button {
        height: 50px;
    }

    .login p.registration_link {
        font-size: 13px;
        margin-top: 17px;
    }

}

@media only screen and (max-width: 796px) {
    .log_input {
        width: 300px;
    }
}

@media only screen and (max-width: 716px) {
    .flex {
        flex-direction: column;
    }

    .head_text {
        margin-top: 0;
    }

    .content {
        padding: 50px 0;
        display: flex;
        justify-content: center;
    }

    .App {
        position: relative;
        height: 130vh;
    }

    .waves {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .login {
        width: 300px;
    }

    .log_input {
        width: 260px;
    }
}

@media only screen and (max-width: 450px) and (max-height: 1000px) {
    .login {
        width: 340px;
    }
}

@media only screen and (max-width: 360px) {
    .login {
        width: 275px;
        margin: 0 auto;

    }

    .log_input {
        width: 260px;
    }
}